<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>http_status_codes</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>E3468382-BBFB-428C-85D0-6D41F3D09883</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9749F05D-881D-4862-9E70-C8A2EFFED700</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>goronfreeman</string>
	<key>description</key>
	<string>Returns HTTP status code information</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>HTTP Status Codes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9749F05D-881D-4862-9E70-C8A2EFFED700</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>http</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading results...</string>
				<key>script</key>
				<string>ruby 'http-status.rb' {query}</string>
				<key>subtext</key>
				<string>Enter a status code</string>
				<key>title</key>
				<string>Search HTTP status codes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E3468382-BBFB-428C-85D0-6D41F3D09883</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>How to use:

To invoke alfred-http-status-codes, simply type http followed by the status code you would like more information about. The workflow will intelligently filter the status codes as you type, so if you enter http 2, alfred-http-status-codes will display all 200 status codes, along with their name, and a brief description. If you would like more in-depth information about a particular status code, simply hit enter to be taken to the W3C page about that status code.

Icon made by Freepik from www.flaticon.com</string>
	<key>uidata</key>
	<dict>
		<key>9749F05D-881D-4862-9E70-C8A2EFFED700</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E3468382-BBFB-428C-85D0-6D41F3D09883</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/goronfreeman/alfred-http-status-codes</string>
</dict>
</plist>
