[user]
	name = babramczyk
	email = bjabramczyk@gmail.com

[alias]
    branch-name = "!git rev-parse --abbrev-ref HEAD"
    st = status
    publish = "!git push -u origin $(git branch-name)"
    unpublish = "!git push origin :$(git branch-name)"
    co = checkout
    cob = checkout -b
    ci = commit
    br = branch
    prune-local = "!git fetch -p && git br -D master && for branch in `git branch -vv | grep ': gone]' | awk '{print $1}'`; do git branch -D $branch; done"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[stash]
	showPatch = true
