<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>5F7C552E-D8D1-4B55-B190-B96C69BBFFEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAC929B9-47A1-4C51-B08F-98071BC6DC50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60FCF7FE-47C0-4AD8-B227-F61FDDB57876</key>
		<array/>
		<key>6D78D81E-1C2E-43E3-B63B-79EA3875F7F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>072F17A0-474E-4829-ABB6-862FDDE0A44A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DC5C6E5-3127-4078-89D1-11BD4F3C0A07</key>
		<array/>
		<key>A0F4D554-843E-4CDD-8FAB-90B7BD045F1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8158A77-0A99-4CF1-8ED1-74BC85D19E8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6D78D81E-1C2E-43E3-B63B-79EA3875F7F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8158A77-0A99-4CF1-8ED1-74BC85D19E8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CB66A88-5E86-42E7-9CF3-FACCDEEA351E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CDE14BF2-FCF4-4D4C-A842-9C9102EF41D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6DC5C6E5-3127-4078-89D1-11BD4F3C0A07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>60FCF7FE-47C0-4AD8-B227-F61FDDB57876</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D5D82D2D-6193-47B2-BF78-50F9EA0D23C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D457C0B1-1F95-4E0D-87B6-216904555B24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC6583F3-D97B-4880-B68D-292016BCFAF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brett Abramczyk</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "/Applications/Google Chrome.app"
		make new window
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>A8158A77-0A99-4CF1-8ED1-74BC85D19E8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>finrev</string>
				<key>subtext</key>
				<string>Review last month's spending, move money around</string>
				<key>text</key>
				<string>Monthly Financials</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A0F4D554-843E-4CDD-8FAB-90B7BD045F1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://myaccounts.capitalone.com/accountSummary</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3CB66A88-5E86-42E7-9CF3-FACCDEEA351E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.google.com/spreadsheets/d/1lMo3BA_I2MRrxaTjVNOaowP0ziiGrmTWvwBGYcxj6Ac/edit#gid=229770528</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CDE14BF2-FCF4-4D4C-A842-9C9102EF41D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://client.schwab.com/clientapps/accounts/summary/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6DC5C6E5-3127-4078-89D1-11BD4F3C0A07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://client.schwab.com/Areas/Accounts/Positions</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>60FCF7FE-47C0-4AD8-B227-F61FDDB57876</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://mint.intuit.com/sso_login/index.html?offering_id=Intuit.ifs.mint&amp;namespace_id=50000026&amp;redirect_url=https%3A%2F%2Fmint.intuit.com%2Foverview.event%3Futm_medium%3Ddirect%26cta%3Dnav_login_dropdown%26ivid%3Da6e7881a-cd92-47b7-9264-f2e5bb9201aa</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D5D82D2D-6193-47B2-BF78-50F9EA0D23C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "/Applications/Google Chrome.app"
		make new window
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>6D78D81E-1C2E-43E3-B63B-79EA3875F7F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://client.schwab.com/Areas/Trade/Allinone/index.aspx</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>072F17A0-474E-4829-ABB6-862FDDE0A44A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.amazon.com/gp/your-account/order-history</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EAC929B9-47A1-4C51-B08F-98071BC6DC50</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>amo</string>
				<key>subtext</key>
				<string>View the My Orders page in Amazon</string>
				<key>text</key>
				<string>Amazon - My Orders</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5F7C552E-D8D1-4B55-B190-B96C69BBFFEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>amf</string>
				<key>subtext</key>
				<string>Open Amazon Fresh</string>
				<key>text</key>
				<string>Amazon Fresh</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D457C0B1-1F95-4E0D-87B6-216904555B24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.amazon.com/alm/storefront?almBrandId=QW1hem9uIEZyZXNo</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EC6583F3-D97B-4880-B68D-292016BCFAF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>072F17A0-474E-4829-ABB6-862FDDE0A44A</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>755</integer>
		</dict>
		<key>3CB66A88-5E86-42E7-9CF3-FACCDEEA351E</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>5F7C552E-D8D1-4B55-B190-B96C69BBFFEA</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>60FCF7FE-47C0-4AD8-B227-F61FDDB57876</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>6D78D81E-1C2E-43E3-B63B-79EA3875F7F4</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>755</integer>
		</dict>
		<key>6DC5C6E5-3127-4078-89D1-11BD4F3C0A07</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>A0F4D554-843E-4CDD-8FAB-90B7BD045F1A</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>A8158A77-0A99-4CF1-8ED1-74BC85D19E8D</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>CDE14BF2-FCF4-4D4C-A842-9C9102EF41D5</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>D457C0B1-1F95-4E0D-87B6-216904555B24</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1050</integer>
		</dict>
		<key>D5D82D2D-6193-47B2-BF78-50F9EA0D23C1</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>EAC929B9-47A1-4C51-B08F-98071BC6DC50</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>EC6583F3-D97B-4880-B68D-292016BCFAF3</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1050</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
