<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>189E72DD-18CF-44BC-BA6E-33264C7AAE7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09AFB55E-784E-4FE0-A229-CFDCB25A6115</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4950E4EA-F631-421E-BDEC-7B866524F43C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC8449E2-FBF0-4F75-9CE0-A0E009687184</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60FCF7FE-47C0-4AD8-B227-F61FDDB57876</key>
		<array/>
		<key>6D78D81E-1C2E-43E3-B63B-79EA3875F7F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>072F17A0-474E-4829-ABB6-862FDDE0A44A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DC5C6E5-3127-4078-89D1-11BD4F3C0A07</key>
		<array/>
		<key>A0F4D554-843E-4CDD-8FAB-90B7BD045F1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8158A77-0A99-4CF1-8ED1-74BC85D19E8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6D78D81E-1C2E-43E3-B63B-79EA3875F7F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8158A77-0A99-4CF1-8ED1-74BC85D19E8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CB66A88-5E86-42E7-9CF3-FACCDEEA351E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CDE14BF2-FCF4-4D4C-A842-9C9102EF41D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6DC5C6E5-3127-4078-89D1-11BD4F3C0A07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>60FCF7FE-47C0-4AD8-B227-F61FDDB57876</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D5D82D2D-6193-47B2-BF78-50F9EA0D23C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C322E44A-CCA7-4A83-90D5-238F1AFC3298</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C268ECF9-AF5A-408E-9D60-7D4B79242DDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brett Abramczyk</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "/Applications/Google Chrome.app"
		make new window
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>A8158A77-0A99-4CF1-8ED1-74BC85D19E8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>finrev</string>
				<key>subtext</key>
				<string>Review last month's spending, move money around</string>
				<key>text</key>
				<string>Monthly Financials</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A0F4D554-843E-4CDD-8FAB-90B7BD045F1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://myaccounts.capitalone.com/accountSummary</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3CB66A88-5E86-42E7-9CF3-FACCDEEA351E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.google.com/spreadsheets/d/1lMo3BA_I2MRrxaTjVNOaowP0ziiGrmTWvwBGYcxj6Ac/edit#gid=229770528</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CDE14BF2-FCF4-4D4C-A842-9C9102EF41D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://client.schwab.com/clientapps/accounts/summary/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6DC5C6E5-3127-4078-89D1-11BD4F3C0A07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://client.schwab.com/Areas/Accounts/Positions</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>60FCF7FE-47C0-4AD8-B227-F61FDDB57876</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://mint.intuit.com/sso_login/index.html?offering_id=Intuit.ifs.mint&amp;namespace_id=50000026&amp;redirect_url=https%3A%2F%2Fmint.intuit.com%2Foverview.event%3Futm_medium%3Ddirect%26cta%3Dnav_login_dropdown%26ivid%3Da6e7881a-cd92-47b7-9264-f2e5bb9201aa</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D5D82D2D-6193-47B2-BF78-50F9EA0D23C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "/Applications/Google Chrome.app"
		make new window
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>6D78D81E-1C2E-43E3-B63B-79EA3875F7F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://client.schwab.com/Areas/Trade/Allinone/index.aspx</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>072F17A0-474E-4829-ABB6-862FDDE0A44A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>afp workflows</string>
				<key>subtext</key>
				<string>Open Alfred.alfredpreferences/workflows in Finder</string>
				<key>text</key>
				<string>Open Alfred workflows folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C322E44A-CCA7-4A83-90D5-238F1AFC3298</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/dotfiles/Alfred/Alfred.alfredpreferences/workflows</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C268ECF9-AF5A-408E-9D60-7D4B79242DDC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>afp resources</string>
				<key>subtext</key>
				<string>Open Alfred.alfredpreferences/resources in Finder</string>
				<key>text</key>
				<string>Open Alfred resources folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4950E4EA-F631-421E-BDEC-7B866524F43C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/dotfiles/Alfred/Alfred.alfredpreferences/resources</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>CC8449E2-FBF0-4F75-9CE0-A0E009687184</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "System Events"
		activate
		tell process "Notification Center"
			click last item of windows
		end tell
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>09AFB55E-784E-4FE0-A229-CFDCB25A6115</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>42</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>\</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>189E72DD-18CF-44BC-BA6E-33264C7AAE7F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>072F17A0-474E-4829-ABB6-862FDDE0A44A</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>755</integer>
		</dict>
		<key>09AFB55E-784E-4FE0-A229-CFDCB25A6115</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>1200</integer>
		</dict>
		<key>189E72DD-18CF-44BC-BA6E-33264C7AAE7F</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1200</integer>
		</dict>
		<key>3CB66A88-5E86-42E7-9CF3-FACCDEEA351E</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>4950E4EA-F631-421E-BDEC-7B866524F43C</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>1045</integer>
		</dict>
		<key>60FCF7FE-47C0-4AD8-B227-F61FDDB57876</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>6D78D81E-1C2E-43E3-B63B-79EA3875F7F4</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>755</integer>
		</dict>
		<key>6DC5C6E5-3127-4078-89D1-11BD4F3C0A07</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>A0F4D554-843E-4CDD-8FAB-90B7BD045F1A</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>A8158A77-0A99-4CF1-8ED1-74BC85D19E8D</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>C268ECF9-AF5A-408E-9D60-7D4B79242DDC</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>C322E44A-CCA7-4A83-90D5-238F1AFC3298</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>CC8449E2-FBF0-4F75-9CE0-A0E009687184</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>1045</integer>
		</dict>
		<key>CDE14BF2-FCF4-4D4C-A842-9C9102EF41D5</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>D5D82D2D-6193-47B2-BF78-50F9EA0D23C1</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
