<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.brett.browse-chrome</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/brett/src/personal/dotfiles/bin/browse</string>
        <string>up</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>BROWSE_PROFILE</key>
        <string>/Users/brett/.agent-browser/profiles/google</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/browse-chrome.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/browse-chrome.log</string>
</dict>
</plist>
