<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>recentdownloads.ddjfreedom</string>
	<key>connections</key>
	<dict>
		<key>056979E3-6FD4-496C-A3FD-27309B6F3ADA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DE2B8F4-46F9-48C3-89B8-F1D448E310E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>07C93E03-7673-4115-90F7-F871972AF406</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DEF1C328-F5CC-4E3A-B47C-5B0427F6D5BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DEF1C328-F5CC-4E3A-B47C-5B0427F6D5BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E87F5100-52C4-4CFD-BD10-56A5F9FDB1BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E87F5100-52C4-4CFD-BD10-56A5F9FDB1BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>315C4089-013D-493D-A3AC-0D0728929D4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A6509700-CBFC-4EB8-90C4-0613AF7C07FB</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Reveal in finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5ED38895-9385-4E48-AA95-9276C6414F08</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Trash</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>872DC86E-9A2F-468D-8E05-8790CD904C7A</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Move to Inbox</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>056979E3-6FD4-496C-A3FD-27309B6F3ADA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open in iTerm</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>10951ABF-568F-46EA-AABB-608100B8FBC9</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Open in VS Code</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dajun Duan</string>
	<key>description</key>
	<string>Open or reveal the recent downloads in downloads folder</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Recent Downloads</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>315C4089-013D-493D-A3AC-0D0728929D4B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>A6509700-CBFC-4EB8-90C4-0613AF7C07FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>downloads</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/ruby recent_downloads.rb "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Downloads</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E87F5100-52C4-4CFD-BD10-56A5F9FDB1BC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>search downloads</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>07C93E03-7673-4115-90F7-F871972AF406</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}",
    "config" : {
      "title" : "",
      "runningsubtext" : "",
      "subtext" : ""
    },
    "variables" : {
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>DEF1C328-F5CC-4E3A-B47C-5B0427F6D5BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>filepath="{query}"
# replace " with \" to prevent closing the quotes in applescript
# too early
filepath=${filepath//\"/'\"'}
osascript -e 'tell application "Finder" to delete POSIX file "'"$filepath"'"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5ED38895-9385-4E48-AA95-9276C6414F08</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>mv "$1" ~/Documents/app/pixave/s.\ inbox</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>872DC86E-9A2F-468D-8E05-8790CD904C7A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTerm.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>2DE2B8F4-46F9-48C3-89B8-F1D448E310E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  set theQuery to item 1 of argv
	set cmdStr to "cd " &amp; theQuery	tell application "iTerm"		if exists window 1 then			tell current window				tell current session to write text cmdStr			end tell		else			create window with default profile			tell current window				tell current session to write text cmdStr			end tell		end if	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>056979E3-6FD4-496C-A3FD-27309B6F3ADA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>10951ABF-568F-46EA-AABB-608100B8FBC9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>056979E3-6FD4-496C-A3FD-27309B6F3ADA</key>
		<dict>
			<key>note</key>
			<string>Open in iTerm</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>07C93E03-7673-4115-90F7-F871972AF406</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>10951ABF-568F-46EA-AABB-608100B8FBC9</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>2DE2B8F4-46F9-48C3-89B8-F1D448E310E3</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>315C4089-013D-493D-A3AC-0D0728929D4B</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>5ED38895-9385-4E48-AA95-9276C6414F08</key>
		<dict>
			<key>note</key>
			<string>Trash files</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>872DC86E-9A2F-468D-8E05-8790CD904C7A</key>
		<dict>
			<key>note</key>
			<string>Move to inbox</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>A6509700-CBFC-4EB8-90C4-0613AF7C07FB</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>DEF1C328-F5CC-4E3A-B47C-5B0427F6D5BB</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>E87F5100-52C4-4CFD-BD10-56A5F9FDB1BC</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ddjfreedom/recent-downloads-alfred-v2</string>
</dict>
</plist>
