<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>046C8B9B-B046-4ED1-ADB1-B9149558E961</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F525988E-4ED1-4E45-8CAD-25BAF510025C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>41199D31-F1B9-416E-B70D-D4387161301B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Move to Trash</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9AE1C9D0-D044-4078-B7B1-5E1C2A06C634</string>
				<key>modifiers</key>
				<integer>1179648</integer>
				<key>modifiersubtext</key>
				<string>Open in VS Code</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DE45EE7A-E144-498A-BAB8-B969C80D63DD</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Browse in Terminal</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>649F9AFD-6103-4CF9-8D52-7B323305962F</key>
		<array/>
		<key>A10F711E-4562-4988-8205-77E555679788</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F525988E-4ED1-4E45-8CAD-25BAF510025C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>41199D31-F1B9-416E-B70D-D4387161301B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Move to Trash</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9AE1C9D0-D044-4078-B7B1-5E1C2A06C634</string>
				<key>modifiers</key>
				<integer>1179648</integer>
				<key>modifiersubtext</key>
				<string>Open in VS Code</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DE45EE7A-E144-498A-BAB8-B969C80D63DD</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Browse in Terminal</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C963183A-B0D5-4C32-AD3F-D32515446AF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F525988E-4ED1-4E45-8CAD-25BAF510025C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>41199D31-F1B9-416E-B70D-D4387161301B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Move to Trash</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9AE1C9D0-D044-4078-B7B1-5E1C2A06C634</string>
				<key>modifiers</key>
				<integer>1179648</integer>
				<key>modifiersubtext</key>
				<string>Open in VS Code</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DE45EE7A-E144-498A-BAB8-B969C80D63DD</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Browse in Terminal</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC9712F3-DD5B-4C8B-99E3-A61DECDB4AA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26B458B6-3E33-485C-B917-25D887B99DCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE137348-C8D0-4B0D-8DDD-AE00F6D92AAF</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Move to Desktop</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD6E216B-5484-4F8C-B422-33492F36E3B0</key>
		<array/>
		<key>F5F6D0C3-8382-4CDB-B641-324404BD6738</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F525988E-4ED1-4E45-8CAD-25BAF510025C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>41199D31-F1B9-416E-B70D-D4387161301B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Move to Trash</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9AE1C9D0-D044-4078-B7B1-5E1C2A06C634</string>
				<key>modifiers</key>
				<integer>1179648</integer>
				<key>modifiersubtext</key>
				<string>Open in VS Code</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DE45EE7A-E144-498A-BAB8-B969C80D63DD</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Browse in Terminal</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>649F9AFD-6103-4CF9-8D52-7B323305962F</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string>asdf</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0144BBB5-755E-41E4-A47B-9639B7D9E352</string>
				<key>modifiers</key>
				<integer>655360</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brett Abramczyk</string>
	<key>description</key>
	<string>List and act on the contents of folders</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search folders</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>desk</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>IFS=$'\n'

files=$(ls -dtc ${HOME}/Desktop/* | grep -i ".*{query}.*" | perl -MHTML::Entities -CS -pe'$_ = encode_entities($_, q{&amp;&lt;&gt;"'\''})')

echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
for file in ${files}; do
  echo "&lt;item uuid='file' arg='${file}' type='file'&gt;"
  echo "&lt;title&gt;$(basename ${file})&lt;/title&gt;"
  echo "&lt;subtitle&gt;${file}&lt;/subtitle&gt;"
  echo "&lt;icon type='fileicon'&gt;${file}&lt;/icon&gt;"
  echo "&lt;/item&gt;"
done
echo "&lt;/items&gt;"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search ~/Desktop</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A10F711E-4562-4988-8205-77E555679788</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>F525988E-4ED1-4E45-8CAD-25BAF510025C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dl</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>IFS=$'\n'

files=$(ls -dtc ${HOME}/Downloads/* | grep -i ".*{query}.*" | perl -MHTML::Entities -CS -pe'$_ = encode_entities($_, q{&amp;&lt;&gt;"'\''})')

echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
for file in ${files}; do
  echo "&lt;item uuid='file' arg='${file}' type='file'&gt;"
  echo "&lt;title&gt;$(basename ${file})&lt;/title&gt;"
  echo "&lt;subtitle&gt;${file}&lt;/subtitle&gt;"
  echo "&lt;icon type='fileicon'&gt;${file}&lt;/icon&gt;"
  echo "&lt;/item&gt;"
done
echo "&lt;/items&gt;"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search ~/Downloads</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>046C8B9B-B046-4ED1-ADB1-B9149558E961</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>filepath="{query}"
# replace " with \" to prevent closing the quotes in applescript
# too early
filepath=${filepath//\"/'\"'}
osascript -e 'tell application "Finder" to delete POSIX file "'"$filepath"'"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>41199D31-F1B9-416E-B70D-D4387161301B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>9AE1C9D0-D044-4078-B7B1-5E1C2A06C634</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>docs</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>IFS=$'\n'

files=$(ls -dtc ${HOME}/Documents/* | grep -i ".*{query}.*" | perl -MHTML::Entities -CS -pe'$_ = encode_entities($_, q{&amp;&lt;&gt;"'\''})')

echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
for file in ${files}; do
  echo "&lt;item uuid='file' arg='${file}' type='file'&gt;"
  echo "&lt;title&gt;$(basename ${file})&lt;/title&gt;"
  echo "&lt;subtitle&gt;${file}&lt;/subtitle&gt;"
  echo "&lt;icon type='fileicon'&gt;${file}&lt;/icon&gt;"
  echo "&lt;/item&gt;"
done
echo "&lt;/items&gt;"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search ~/Documents</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C963183A-B0D5-4C32-AD3F-D32515446AF2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>DE45EE7A-E144-498A-BAB8-B969C80D63DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>clones</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>IFS=$'\n'

files=$(ls -dtc ~/src/clones/* | grep -i ".*{query}.*" | perl -MHTML::Entities -CS -pe'$_ = encode_entities($_, q{&amp;&lt;&gt;"'\''})')

echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
for file in ${files}; do
  echo "&lt;item uuid='file' arg='${file}' type='file'&gt;"
  echo "&lt;title&gt;$(basename ${file})&lt;/title&gt;"
  echo "&lt;subtitle&gt;⇧⌘ VS Code | ⇧ Terminal | ⌘ Trash | ⌘⌥ Open origin | ⌥⇧ New PR&lt;/subtitle&gt;"
  echo "&lt;subtitle&gt;${file}&lt;/subtitle&gt;"
  echo "&lt;icon type='fileicon'&gt;${file}&lt;/icon&gt;"
  echo "&lt;/item&gt;"
done
echo "&lt;/items&gt;"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search ~/src/clones</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F5F6D0C3-8382-4CDB-B641-324404BD6738</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string># open git origin of cd'd folder
cd "{query}"
open $(git config --get remote.origin.url)</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>649F9AFD-6103-4CF9-8D52-7B323305962F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$1"
REPO_URL=$(git config remote.origin.url)
SUFFIX=".git"
REPO_URL=${REPO_URL%$SUFFIX}
REPO_URL+="/pull/new/master"
open "${REPO_URL}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0144BBB5-755E-41E4-A47B-9639B7D9E352</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>26B458B6-3E33-485C-B917-25D887B99DCA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>trash</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>IFS=$'\n'

files=$(ls -dtc ${HOME}/.Trash/* | grep -i ".*{query}.*" | perl -MHTML::Entities -CS -pe'$_ = encode_entities($_, q{&amp;&lt;&gt;"'\''})')

echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
for file in ${files}; do
  echo "&lt;item uuid='file' arg='${file}' type='file'&gt;"
  echo "&lt;title&gt;$(basename ${file})&lt;/title&gt;"
  echo "&lt;subtitle&gt;${file}&lt;/subtitle&gt;"
  echo "&lt;icon type='fileicon'&gt;${file}&lt;/icon&gt;"
  echo "&lt;/item&gt;"
done
echo "&lt;/items&gt;"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search ~/.Trash</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CC9712F3-DD5B-4C8B-99E3-A61DECDB4AA8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>mv "$1" ~/Desktop</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CE137348-C8D0-4B0D-8DDD-AE00F6D92AAF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  set theQuery to item 1 of argv
	set cmdStr to "cd " &amp; theQuery &amp; " &amp;&amp; exa"
	activate application "iTerm"
	tell application "System Events" to keystroke "1" using command down	tell application "iTerm"		if exists window 1 then			tell current window				tell current session to write text cmdStr
			end tell		else			create window with default profile			tell current window				tell current session to write text cmdStr			end tell		end if	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DD6E216B-5484-4F8C-B422-33492F36E3B0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>mv "$1" ~/Dropbox/Shares/</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D3AEA20-7990-4C0E-96D1-59C9B91F4B7F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>9CF17623-C61A-4D0D-B5DF-E31870D7BB7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0144BBB5-755E-41E4-A47B-9639B7D9E352</key>
		<dict>
			<key>note</key>
			<string>Make new PR in GitHub</string>
			<key>xpos</key>
			<integer>735</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>046C8B9B-B046-4ED1-ADB1-B9149558E961</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>26B458B6-3E33-485C-B917-25D887B99DCA</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>3D3AEA20-7990-4C0E-96D1-59C9B91F4B7F</key>
		<dict>
			<key>note</key>
			<string>Move to Dropbox shares</string>
			<key>xpos</key>
			<integer>855</integer>
			<key>ypos</key>
			<integer>1080</integer>
		</dict>
		<key>41199D31-F1B9-416E-B70D-D4387161301B</key>
		<dict>
			<key>note</key>
			<string>Trash</string>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>649F9AFD-6103-4CF9-8D52-7B323305962F</key>
		<dict>
			<key>note</key>
			<string>Open git origin</string>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>9AE1C9D0-D044-4078-B7B1-5E1C2A06C634</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>9CF17623-C61A-4D0D-B5DF-E31870D7BB7D</key>
		<dict>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>1085</integer>
		</dict>
		<key>A10F711E-4562-4988-8205-77E555679788</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>C963183A-B0D5-4C32-AD3F-D32515446AF2</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>CC9712F3-DD5B-4C8B-99E3-A61DECDB4AA8</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>CE137348-C8D0-4B0D-8DDD-AE00F6D92AAF</key>
		<dict>
			<key>note</key>
			<string>Move to Desktop</string>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>DD6E216B-5484-4F8C-B422-33492F36E3B0</key>
		<dict>
			<key>note</key>
			<string>Go to first tab in iTerm and open path</string>
			<key>xpos</key>
			<integer>705</integer>
			<key>ypos</key>
			<integer>1075</integer>
		</dict>
		<key>DE45EE7A-E144-498A-BAB8-B969C80D63DD</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>F525988E-4ED1-4E45-8CAD-25BAF510025C</key>
		<dict>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>F5F6D0C3-8382-4CDB-B641-324404BD6738</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Search ~/src/clones</string>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>2.7</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
