<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0FB3BF07-2E64-4199-8153-EFED490DC1BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C1092DD-568F-4EE9-8A0B-F3E68D132631</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12C2DBF7-7026-4E78-B4EE-6AF69F04CEE7</key>
		<array/>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0D395EC-76D5-4BCD-94C1-708249453C58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D134451-DCE0-48C2-A2A3-F78B24E60E8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>840BCCFC-C711-41BD-A851-7ACF9C824E67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34B3F69C-5CBD-42EB-93AB-3E898C8759C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>743B9002-8800-4E64-AF16-6758A916DF0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E2FBBFB-EE46-4158-8193-2F0DD97D0D49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12C2DBF7-7026-4E78-B4EE-6AF69F04CEE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>743B9002-8800-4E64-AF16-6758A916DF0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAFD6656-65AB-479B-8785-83F8BBAE7923</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>840BCCFC-C711-41BD-A851-7ACF9C824E67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4D3236A-175F-42C8-8E01-FC3A2D0EF561</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95CF9557-CCDE-4E0E-A6C9-EB3B32225622</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FB3BF07-2E64-4199-8153-EFED490DC1BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9C9B4CD-8244-47DC-993B-916C8E1B61F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>922C0E36-6AA4-401D-AC0C-3195FB5CAF28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC413798-51C0-4D43-A600-8A25C7604571</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BE58A05-1D52-472D-8EAB-A2033EEC83CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9979091-0FA4-4CE6-AAA1-B47A536641AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15580952-D2D0-4198-B593-BEF1715365A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brett Abramczyk</string>
	<key>description</key>
	<string>Open dotfiles in VS Code</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dotfiles</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>df</string>
				<key>subtext</key>
				<string>Open dotfiles with VS Code</string>
				<key>text</key>
				<string>Open dotfiles</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string>~/dotfiles</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>F0D395EC-76D5-4BCD-94C1-708249453C58</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string>~/dotfiles</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>0FB3BF07-2E64-4199-8153-EFED490DC1BE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vrc</string>
				<key>subtext</key>
				<string>Edit .vimrc with VS Code</string>
				<key>text</key>
				<string>Edit .vimrc</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>95CF9557-CCDE-4E0E-A6C9-EB3B32225622</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string>~/dotfiles/.vimrc</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>7C1092DD-568F-4EE9-8A0B-F3E68D132631</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string>~/dotfiles/.zshrc</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>CAFD6656-65AB-479B-8785-83F8BBAE7923</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zrc</string>
				<key>subtext</key>
				<string>Edit .zshrc with VS Code</string>
				<key>text</key>
				<string>Edit .zshrc</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>34B3F69C-5CBD-42EB-93AB-3E898C8759C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string>~/dotfiles</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>743B9002-8800-4E64-AF16-6758A916DF0F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string>~/dotfiles/karabiner/karabiner.edn</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D4D3236A-175F-42C8-8E01-FC3A2D0EF561</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string>~/dotfiles</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>840BCCFC-C711-41BD-A851-7ACF9C824E67</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>kedn</string>
				<key>subtext</key>
				<string>Edit karabiner.edn with VS Code</string>
				<key>text</key>
				<string>Edit karabiner.edn</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D134451-DCE0-48C2-A2A3-F78B24E60E8A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dfr</string>
				<key>subtext</key>
				<string>Open dotfiles repo in Github</string>
				<key>text</key>
				<string>View dotfiles in GitHub</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E2FBBFB-EE46-4158-8193-2F0DD97D0D49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/babramczyk/dotfiles</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>12C2DBF7-7026-4E78-B4EE-6AF69F04CEE7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/babramczyk/dotfiles/issues</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5BE58A05-1D52-472D-8EAB-A2033EEC83CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dfi</string>
				<key>subtext</key>
				<string>Open dotfiles Github issues</string>
				<key>text</key>
				<string>View dotfiles Issues</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CC413798-51C0-4D43-A600-8A25C7604571</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/babramczyk/dotfiles/issues/new</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>15580952-D2D0-4198-B593-BEF1715365A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dfni</string>
				<key>subtext</key>
				<string>Create a new dotfiles GitHub Issue</string>
				<key>text</key>
				<string>New dotfiles Issue</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E9979091-0FA4-4CE6-AAA1-B47A536641AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/babramczyk/dotfiles/issues/new</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>922C0E36-6AA4-401D-AC0C-3195FB5CAF28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dfnf</string>
				<key>subtext</key>
				<string>Create a new dotfiles GitHub feature (Issue)</string>
				<key>text</key>
				<string>New dotfiles feature</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C9C9B4CD-8244-47DC-993B-916C8E1B61F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0FB3BF07-2E64-4199-8153-EFED490DC1BE</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>12C2DBF7-7026-4E78-B4EE-6AF69F04CEE7</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>15580952-D2D0-4198-B593-BEF1715365A9</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>885</integer>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>2D134451-DCE0-48C2-A2A3-F78B24E60E8A</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>34B3F69C-5CBD-42EB-93AB-3E898C8759C3</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>5BE58A05-1D52-472D-8EAB-A2033EEC83CF</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>755</integer>
		</dict>
		<key>6E2FBBFB-EE46-4158-8193-2F0DD97D0D49</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>743B9002-8800-4E64-AF16-6758A916DF0F</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>7C1092DD-568F-4EE9-8A0B-F3E68D132631</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>840BCCFC-C711-41BD-A851-7ACF9C824E67</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>922C0E36-6AA4-401D-AC0C-3195FB5CAF28</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>1025</integer>
		</dict>
		<key>95CF9557-CCDE-4E0E-A6C9-EB3B32225622</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>C9C9B4CD-8244-47DC-993B-916C8E1B61F5</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1025</integer>
		</dict>
		<key>CAFD6656-65AB-479B-8785-83F8BBAE7923</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>CC413798-51C0-4D43-A600-8A25C7604571</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>755</integer>
		</dict>
		<key>D4D3236A-175F-42C8-8E01-FC3A2D0EF561</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>E9979091-0FA4-4CE6-AAA1-B47A536641AD</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>885</integer>
		</dict>
		<key>F0D395EC-76D5-4BCD-94C1-708249453C58</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
