<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0622EA05-F0CC-4A9B-89F1-A2C32C1AE74E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>germ</string>
			<key>text</key>
			<string>Translate '{query}' to German</string>
			<key>url</key>
			<string>https://translate.google.com/?sl=auto&amp;tl=de&amp;text={query}&amp;op=translate</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>158D993C-A2BD-4AF8-B91E-448FCA24E639</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>am</string>
			<key>text</key>
			<string>Search Amazon for '{query}'</string>
			<key>url</key>
			<string>https://smile.amazon.com/s?k={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1DA65369-1375-4923-94F5-16D6339F6B35</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>eng</string>
			<key>text</key>
			<string>Translate '{query}' to English</string>
			<key>url</key>
			<string>https://translate.google.com/?sl=auto&amp;tl=en&amp;text={query}&amp;op=translate</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>493CFEEB-84C2-4EE6-B5FB-796DFCBDB131</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>heyf</string>
			<key>text</key>
			<string>Open Hey feed</string>
			<key>url</key>
			<string>https://app.hey.com/feedbox</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5871AA83-1583-45BD-8D23-CC105335245D</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>hey</string>
			<key>text</key>
			<string>Open Hey</string>
			<key>url</key>
			<string>https://app.hey.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>650ABEBD-3799-4796-991F-9D6B41B0E794</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hnew</string>
			<key>text</key>
			<string>Write a new email in Hey</string>
			<key>url</key>
			<string>https://app.hey.com/messages/new</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>893CF2A8-9826-4AB7-95CE-3BCDB8C1F0CF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mdn</string>
			<key>text</key>
			<string>Search mdn for '{query}'</string>
			<key>url</key>
			<string>https://www.google.com/search?btnI&amp;q=site%3Adeveloper.mozilla.org+{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D1D9E1BE-17F2-4F92-BC66-4DDA69D92821</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>heypt</string>
			<key>text</key>
			<string>Open Hey paper trail</string>
			<key>url</key>
			<string>https://app.hey.com/paper_trail</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DDC70BC2-35A5-4A69-A151-9E22F118AEE1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>amf</string>
			<key>text</key>
			<string>Open Amazon Fresh</string>
			<key>url</key>
			<string>https://www.amazon.com/alm/storefront?almBrandId=QW1hem9uIEZyZXNo</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EBA68AB4-4113-4CBF-90C3-0628E41F4C6C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>amf</string>
			<key>text</key>
			<string>Search Amazon Fresh for '{query}'</string>
			<key>url</key>
			<string>https://www.amazon.com/s?k={query}&amp;i=amazonfresh&amp;ref=nb_sb_noss_1</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F34A0694-AA85-4701-BB23-2B5383211757</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>amo</string>
			<key>text</key>
			<string>Amazon Orders</string>
			<key>url</key>
			<string>https://www.amazon.com/gp/your-account/order-history</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
